.currency__wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr)
}

.currency__wrapper:first-of-type {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0B6FA4;
  color: white;
  z-index: 1;
}

.currency__currency-label,
.currency__title {
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
}
.currency__currency-rate:nth-of-type(11n + 10),
.currency__currency-rate:nth-of-type(11n + 8),
.currency__currency-rate:nth-of-type(11n + 6),
.currency__currency-rate:nth-of-type(11n + 4),
.currency__currency-rate:nth-of-type(11n + 2) {
  background-color: #D0E4F5;
}

.currency__button,
.currency__button--selected {
  font-weight: bold;
  margin: 0.2rem;
  border: 1px solid #D0E4F5;
  color: #0082cc;
  background-color: white;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
}

.currency__button--selected {
  font-weight: bold;
  background-color: #0082cc;
  color: white;
}

.currency__title,
.currency__currency-rate.big,
.currency__currency-rate {
  padding: 0.2rem 0.4rem;
  text-align: right;
  border: 1px solid #ccc;
}

.currency__currency-rate.big,
.currency__currency-rate {
  position: relative;
  display: flex;
  flex-direction: column;
}

.currency__currency-rate.big {
  color: red;
  font-weight: bold;
}

.currency__variation {
  /* position: absolute; */
  color: green;
  /* top: 0;
  left: 0; */
}
